.app-container {
  display: flex;
  min-height: 100vh;
  transition: grid-template-columns var(--transition-speed);

}

app-sidebar {
  width: 250px;
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

app-navbar {
  width: 100%;
}



.app-container:not(.collapsed) app-sidebar {
  width: 250px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

