<nav class="sidebar">
   
    <div class="logo">
      <h2>Directory</h2>
    </div>
    <ul>
      <li><a routerLink="/dashboard"><i class="fas fa-home"></i> Dashboard</a></li>
      <li><a routerLink="/medical-records"><i class="fas fa-notes-medical"></i> Medical Records</a></li>
      <li><a routerLink="/medications"><i class="fas fa-pills"></i> Medications</a></li>
      <li><a routerLink="/prescriptions"><i class="fas fa-prescription"></i> Prescriptions</a></li>
      <li><a routerLink="/consultations"><i class="fas fa-user-md"></i> Consultations</a></li>
      <li><a routerLink="/appointments"><i class="fas fa-calendar-check"></i> Appointments</a></li>
      <li><a routerLink="/suppliers"><i class="fas fa-truck"></i> Suppliers</a></li>
      <li><a routerLink="/orders"><i class="fas fa-shopping-cart"></i> Orders</a></li>
      <li><a routerLink="/users"><i class="fas fa-users"></i> Users</a></li>
      <li><a routerLink="/notifications"><i class="fas fa-bell"></i> Notifications</a></li>
      <li><a routerLink="/posts"><i class="fas fa-newspaper"></i> Posts</a></li>
      <li><a routerLink="/comments"><i class="fas fa-comments"></i> Comments</a></li>
    </ul>
  </nav>