
<footer id="footer" class="bg-light text-center">
    <div class="text-center p-3" style="background: -webkit-linear-gradient(left, #0e5551, #48c5bf);  font-weight: bolder; color: white;">
      © 2024 Copyright :
      <b style="color: white; font-weight: bolder;" class="text-light">Gestion Cabinet Medical</b>
      <br><br>
      <section class="mb-4">
        <a class="btn btn-primary btn-floating m-1"  target="_blank" href="https://www.facebook.com/profile.php?id=61571997982602" style="background-color: #3b5998; border: none;" role="button"><i class="fa fa-facebook-f"></i></a>
        <a class="btn btn-primary btn-floating m-1"  target="_blank" href="https://www.linkedin.com/company/mediconet/posts/?feedView=all" style="background-color: #0082ca; border: none;" role="button"><i class="fa fa-linkedin"></i></a>
        <a class="btn btn-primary btn-floating m-1" target="_blank" href="https://github.com/chaimaakermi/gestion-Cabinet-Medical" style="background-color: #333333; border: none;" role="button"><i class="fa fa-github"></i></a>
      </section>
    </div>
  </footer>
  