<div class="app-container">
	<div class="main-content">
	  <!-- Your page content here -->
	  <router-outlet></router-outlet> <!-- This is for Angular -->
	</div>
  
	<footer class="footer">
	  <div class="container">
		<div class="row">
		  <div class="col-md-4">
			<h5>About Us</h5>
			<p>We provide top-notch healthcare services with a patient-first approach.</p>
		  </div>
		  <div class="col-md-4">
			<h5>Contact Us</h5>
			<ul class="list-unstyled">
			  <li><i class="fas fa-map-marker-alt"></i> 123 Healthcare St, City</li>
			  <li><i class="fas fa-phone-alt"></i> +1 234 567 890</li>
			  <li><i class="fas fa-envelope"></i> info@gmail.com</li>
			</ul>
		  </div>
		  <div class="col-md-4">
			<h5>Follow Us</h5>
			<ul class="list-unstyled social-links">
			  <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
			  <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
			  <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
			</ul>
		  </div>
		</div>
	  </div>
  
	  <div class="footer-bottom">
		<div class="container text-center">
		  <p>&copy; 2025 Hospital Management. All Rights Reserved.</p>
		</div>
	  </div>
	</footer>
  </div>
  